trunk/source/Plugins/Ogre/Components/OgreTerrainPageComponent.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wmh="http://www.wmhelp.com/2003/eGenerator" elementFormDefault="qualified" targetNamespace="GASS" xmlns="GASS" xmlns:GASS="GASS">
    <xs:element name="OgreTerrainPageComponent">
        <xs:annotation>
            <xs:documentation xml:lang="en">Documentation goes here!</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
		        <xs:element name="HeightMap">
                    <xs:annotation>
						<xs:guiSettings visible="false"/>
                        <xs:documentation xml:lang="en">Documentation goes here!</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="ColorMap">
                    <xs:annotation>
						<xs:guiSettings visible="false"/>
                        <xs:documentation xml:lang="en">Documentation goes here!</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="DetailMask">
                    <xs:annotation>
						<xs:guiSettings visible="false"/>
                        <xs:documentation xml:lang="en">Documentation goes here!</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
				<xs:element name="DiffuseLayer0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en"></xs:documentation>
						<xs:guiSettings visible="true" editable="true" controlType="COMBO_BOX" resourceType="TEXTURE" resourceGroup="GASS_DETAIL_TEXTURES"/>
	                </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:resource" use="required" />
                    </xs:complexType>
                </xs:element>
				<xs:element name="NormalLayer0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">load terrain</xs:documentation>
						<xs:guiSettings visible="true" editable="true" controlType="COMBO_BOX" resourceType="TEXTURE" resourceGroup="GASS_DETAIL_TEXTURES"/>
	                </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:resource" use="required" />
                    </xs:complexType>
                </xs:element>
				
				<xs:element name="DiffuseLayer0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en"></xs:documentation>
						<xs:guiSettings visible="true" editable="true" controlType="COMBO_BOX" resourceType="TEXTURE" resourceGroup="GASS_DETAIL_TEXTURES"/>
	                </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:resource" use="required" />
                    </xs:complexType>
                </xs:element>
				<xs:element name="NormalLayer0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">load terrain</xs:documentation>
						<xs:guiSettings visible="true" editable="true" controlType="COMBO_BOX" resourceType="TEXTURE" resourceGroup="GASS_DETAIL_TEXTURES"/>
	                </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:resource" use="required" />
                    </xs:complexType>
                </xs:element>
				<xs:element name="DiffuseLayer1">
                    <xs:annotation>
                        <xs:documentation xml:lang="en"></xs:documentation>
						<xs:guiSettings visible="true" editable="true" controlType="COMBO_BOX" resourceType="TEXTURE" resourceGroup="GASS_DETAIL_TEXTURES"/>
	                </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:resource" use="required" />
                    </xs:complexType>
                </xs:element>
				<xs:element name="NormalLayer1">
                    <xs:annotation>
                        <xs:documentation xml:lang="en"></xs:documentation>
						<xs:guiSettings visible="true" editable="true" controlType="COMBO_BOX" resourceType="TEXTURE" resourceGroup="GASS_DETAIL_TEXTURES"/>
	                </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:resource" use="required" />
                    </xs:complexType>
                </xs:element>
				
				<xs:element name="DiffuseLayer2">
                    <xs:annotation>
                        <xs:documentation xml:lang="en"></xs:documentation>
						<xs:guiSettings visible="true" editable="true" controlType="COMBO_BOX" resourceType="TEXTURE" resourceGroup="GASS_DETAIL_TEXTURES"/>
	                </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:resource" use="required" />
                    </xs:complexType>
                </xs:element>
				<xs:element name="NormalLayer2">
                    <xs:annotation>
                        <xs:documentation xml:lang="en"></xs:documentation>
						<xs:guiSettings visible="true" editable="true" controlType="COMBO_BOX" resourceType="TEXTURE" resourceGroup="GASS_DETAIL_TEXTURES"/>
	                </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:resource" use="required" />
                    </xs:complexType>
                </xs:element>
				
				<xs:element name="DiffuseLayer3">
                    <xs:annotation>
                        <xs:documentation xml:lang="en"></xs:documentation>
						<xs:guiSettings visible="true" editable="true" controlType="COMBO_BOX" resourceType="TEXTURE" resourceGroup="GASS_DETAIL_TEXTURES"/>
	                </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:resource" use="required" />
                    </xs:complexType>
                </xs:element>
				<xs:element name="NormalLayer3">
                    <xs:annotation>
                        <xs:documentation xml:lang="en"></xs:documentation>
						<xs:guiSettings visible="true" editable="true" controlType="COMBO_BOX" resourceType="TEXTURE" resourceGroup="GASS_DETAIL_TEXTURES"/>
	                </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:resource" use="required" />
                    </xs:complexType>
                </xs:element>
				
				<xs:element name="DiffuseLayer4">
                    <xs:annotation>
                        <xs:documentation xml:lang="en"></xs:documentation>
						<xs:guiSettings visible="true" editable="true" controlType="COMBO_BOX" resourceType="TEXTURE" resourceGroup="GASS_DETAIL_TEXTURES"/>
	                </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:resource" use="required" />
                    </xs:complexType>
                </xs:element>
				<xs:element name="NormalLayer4">
                    <xs:annotation>
                        <xs:documentation xml:lang="en"></xs:documentation>
						<xs:guiSettings visible="true" editable="true" controlType="COMBO_BOX" resourceType="TEXTURE" resourceGroup="GASS_DETAIL_TEXTURES"/>
	                </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:resource" use="required" />
                    </xs:complexType>
                </xs:element>
				
				<xs:element name="TilingLayer1">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">load terrain</xs:documentation>
				    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:float" use="required" />
                    </xs:complexType>
                </xs:element>
				<xs:element name="TilingLayer2">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">load terrain</xs:documentation>
	                </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:float" use="required" />
                    </xs:complexType>
                </xs:element>
				<xs:element name="TilingLayer3">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">load terrain</xs:documentation>
	                </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:float" use="required" />
                    </xs:complexType>
                </xs:element>
				<xs:element name="TilingLayer4">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">load terrain</xs:documentation>
	                </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:float" use="required" />
                    </xs:complexType>
                </xs:element>
				<xs:element name="Position">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">Documentation goes here!</xs:documentation>
						<xs:guiSettings visible="true" editable="true" controlType="FILE_DIALOG" fileControlSettings="png"/>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:vec3" use="required" />
                    </xs:complexType>
                </xs:element>
				<xs:element name="IndexX">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">Documentation goes here!</xs:documentation>
						<xs:guiSettings visible="true" editable="true" controlType="FILE_DIALOG" fileControlSettings="png"/>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:int" use="required" />
                    </xs:complexType>
                </xs:element>
				<xs:element name="IndexY">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">Documentation goes here!</xs:documentation>
						<xs:guiSettings visible="true" editable="true" controlType="FILE_DIALOG" fileControlSettings="png"/>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:int" use="required" />
                    </xs:complexType>
                </xs:element>
				<xs:element name="ImportHeightMap">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">Documentation goes here!</xs:documentation>
						<xs:guiSettings visible="true" editable="true" controlType="FILE_DIALOG" fileControlSettings="png"/>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:filePath" use="required" />
                    </xs:complexType>
                </xs:element>
				<xs:element name="ImportColorMap">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">Documentation goes here!</xs:documentation>
						<xs:guiSettings visible="true" editable="true" controlType="FILE_DIALOG" fileControlSettings="png"/>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:filePath" use="required" />
                    </xs:complexType>
                </xs:element>
				<xs:element name="ImportDetailMask">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">Documentation goes here!</xs:documentation>
						<xs:guiSettings visible="true" editable="true" controlType="FILE_DIALOG" fileControlSettings="png"/>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:filePath" use="required" />
                    </xs:complexType>
                </xs:element>
				
				<xs:element name="Name">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">Documentation goes here!</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
